body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
button:focus-visible {
  outline: 2px solid #8b6f47;
  outline-offset: 2px;
}

* {
  box-sizing: border-box;
}
